<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - DishCovery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="login-body">

    <div class="login-container">
        <img src="{{ url_for('static', filename='images/dishcovery-logo.png') }}" alt="DishCovery Logo">
        <h2>Login to DishCovery</h2>
        <form id="login-form" action="{{ url_for('login') }}" method="post">
            <input type="text" name="username" id="username" placeholder="Username" required autocomplete="off">
            <input type="password" name="password" id="password" placeholder="Password" required autocomplete="off">
            <button type="submit">Login</button>
        </form>

        {% if error %}
            <p id="error-message">{{ error }}</p>
        {% endif %}

        <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
