<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Recipe Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="login-body">
    <div class="login-container">
        <img src="{{ url_for('static', filename='images/dishcovery-logo.png') }}" alt="DishCovery Logo">
        <h2>Register for Recipe Finder</h2>
        <form id="register-form" action="{{ url_for('register') }}" method="post">
            <input type="text" name="username" id="reg-username" placeholder="Username" required autocomplete="off">
            <input type="password" name="password" id="reg-password" placeholder="Password" required autocomplete="off">
            <button type="submit">Register</button>
        </form>
        {% if error %}
            <p id="error-message">{{ error }}</p>
        {% endif %}
        <p>Already have an account? <a href="{{ url_for('home') }}">Login</a></p>
    </div>
</body>
</html>
